<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div class="row">
        <div class="col" v-for="thing in things" :key="things.thingId">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">{{thing.thingId}}</h5>
                        <p v-if="thing.features.roomInfo.properties.configuration.operationalStatus" class="card-text">
                            Status: {{thing.features.roomInfo.properties.configuration.operationalStatus}}
                        </p>
                        <p v-if="thing.features.surgery.properties.configuration.reference" class="card-text">
                            Riferimento Operazione: {{thing.features.surgery.properties.configuration.reference}}
                        </p>
                        <p v-if="thing.features.surgery.properties.configuration.status" class="card-text">
                            Status Operazione: {{thing.features.surgery.properties.configuration.status}}
                        </p>
                        <p v-if="thing.features.schedule.properties.configuration.reference" class="card-text">
                            <span style="color: rgb(94, 255, 0); background-color: black;"> Riferimento schedula:</span>
                            {{thing.features.schedule.properties.configuration.reference}}
                        </p>
                        <p v-if="thing.features.schedule.properties.configuration.now" class="card-text">
                            <span style="color: red; background-color: black;"> Start: </span>
                            {{thing.features.schedule.properties.configuration.now.start}}
                        </p>
                        <p v-if="thing.features.schedule.properties.configuration.now" class="card-text">
                            <span style="color: red; background-color: black;">End: </span>
                            {{thing.features.schedule.properties.configuration.now.end}}
                        </p>
                        <h6>Room Index</h6>
                        <p v-if="thing.features.roomInfo.properties.configuration.wellAllocatedIndex" class="card-text">
                            Well allocated Index:
                            {{thing.features.roomInfo.properties.configuration.wellAllocatedIndex.value}}
                        </p>
                        <p v-if="thing.features.roomInfo.properties.configuration.lateIndex" class="card-text">
                            Late Index: {{thing.features.roomInfo.properties.configuration.lateIndex.value}}
                        </p>
                        <p v-if="thing.features.roomInfo.properties.configuration.postponedIndex" class="card-text">
                            Postponed Index: {{thing.features.roomInfo.properties.configuration.postponedIndex.value}}
                        </p>
                        <p v-if="thing.features.roomInfo.properties.configuration.postponedBedIndex" class="card-text">
                            Postponed bad Index:
                            {{thing.features.roomInfo.properties.configuration.postponedBedIndex.value}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script language="JavaScript">
        var app = new Vue({
            el: '#app',
            data(){
                return {
                    endpoint: "192.168.1.12:8080",
                    namespace: "it.unibo.surgery",
                    thingIdList: ["room1", "room2", "room3"],
                    things: []
                }
            },
            methods:{
                listThing: function(){
                    this.thingIdList.forEach(element => {
                        this.getThing(element);
                    });
                },
                getThing: function(id) {
                    thingId = this.namespace + ":" + id;
                    axios.get("http://" + endpoint + "/api/2/things/" + thingId, {
                        auth: {
                            username: 'user1',
                            password: 'user1'
                        }
                    })
                    .then((result) => {
                        console.log(result.data)
                        this.things.push(result.data);
                    }).catch((err) => {
                        console.log(err)
                    })
                },
                init: function(){
                    this.listThing();
                }
            },
            mounted(){
                this.init()
            }
        })

</script>
</body>
</html>